@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #c8a46f;
  --bg: #0e0e0e;
}
body{font-family: 'Inter', sans-serif;}
h1,h2,h3{font-family: 'Playfair Display', serif;}
